*, *::after, *::before {
    font-family: Gotham Rounded, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, hsl(42, 92%, 55%), hsl(35, 90%, 48%));
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 95vh;
    overflow: hidden;
}

.clock {
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, .5);
    position: relative;
    border: 5px solid black;
    border-radius: 50%;
}

.clock .number {
    font-size: 3rem;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    --rotation: 0;
    transform: rotate(var(--rotation));
}

.clock .number1 {
    --rotation: 30deg;
}

.clock .number2 {
    --rotation: 60deg;
}

.clock .number3 {
    --rotation: 90deg;
}

.clock .number4 {
    --rotation: 120deg;
}

.clock .number5 {
    --rotation: 150deg;
}

.clock .number6 {
    --rotation: 180deg;
}

.clock .number7 {
    --rotation: 210deg;
}

.clock .number8 {
    --rotation: 240deg;
}

.clock .number9 {
    --rotation: 270deg;
}

.clock .number10 {
    --rotation: 300deg;
}

.clock .number11 {
    --rotation: 330deg;
}

.clock .number12 {
    --rotation: 0deg;
}

.flipNumber {
    margin: 0;
}

.flipNumber1 {
    transform: rotate(330deg);
}

.flipNumber2 {
    transform: rotate(300deg);
}

.flipNumber3 {
    transform: rotate(270deg);
}

.flipNumber4 {
    transform: rotate(240deg);
}

.flipNumber5 {
    transform: rotate(210deg);
}

.flipNumber6 {
    transform: rotate(180deg);
}

.flipNumber7 {
    transform: rotate(150deg);
}

.flipNumber8 {
    transform: rotate(120deg);
}

.flipNumber9 {
    transform: rotate(90deg);
}

.flipNumber10 {
    transform: rotate(60deg);
}

.flipNumber11 {
    transform: rotate(30deg);
}


.clock .arrow {
    position: absolute;
    bottom: 50%;
    left: 50%;
    --rotation: 0;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

.clock .arrow.hour {
    background-color: black;
    width: 20px;
    height: 35%;
}

.clock .arrow.minute {
    background-color: black;
    width: 15px;
    height: 40%;
}

.clock .arrow.second {
    background-color: red;
    width: 10px;
    height: 45%;
}

.clock::after {
    background-color: black;
    z-index: 11;
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}